#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  margin: 0 auto;
  padding: 0 auto;
  float: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

.read-the-docs {
  color: #888;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.length{
  height: 50%;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  backdrop: transparent;
}

&.fade-in {
  opacity: 1;
  transition: opacity linear 0.01s;
}
&.fade-out {
  opacity: 0;
  transition: opacity linear 1s;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 50%;
  height: auto;
}